dataframe_image==0.2.7
infomeasure==0.6.0
joblib==1.5.3
matplotlib==3.10.9
numpy==2.4.2
pandarallel==1.6.5
pandas==3.0.2
polars==1.40.1
quantlib==1.42.1
scikit_learn==1.8.0
scipy==1.17.0
statsmodels==0.14.6
tqdm==4.67.3
